* {
    margin: 0;
    padding: 0;
    font-family: 'Roboto Slab', 'Open Sans', sans-serif;
}

body {
    background-color: var(--black);
}

:root {
    --white: #F5F5F5;
    --orange: #ee910e;
    --darkGray: #373330;
    --black: #040411;
    --yellow: #ffdc2b;
    --blue: #0eccf2;
}

.heading {
    margin: 10px 2px;
    padding: 12px;
    background-color: var(--darkGray);
    color: var(--yellow);
    display: flex;
    justify-content: center;
    align-items: center;
    letter-spacing: 3px;
    font-size: 30px;
}
.logoImg{
    object-fit:contain;
    height: 64px;
}
@media only screen and (max-width: 355px) {
    .heading{
        letter-spacing: 0px;
        font-size: 20px;
    }
}
.four{
    color: var(--blue);
}

.main {
    margin: 10px;
    margin-bottom: 50px;
}

.dropdown-btn {
    color: var(--yellow);
    background: var(--darkGray);
    margin: 7px 0px;
    padding: 5px 15px;
    font-size: 15px;
    display: block;
    border: none;
    border-radius: 5px;
    width: 100%;
    text-align: left;
}
.fa-solid {
    float: right;
    padding-right: 8px;
    visibility: visible;
}
.active {
    background-color: var(--yellow);
    color: var(--darkGray);
    font-weight: bolder;
}
.dropdown-container {
    display: none;
    font-size: 14px;
    margin: 0px 2px;
}
.category{
    padding: 5px 10px;
    color: var(--white);
    background-color: var(--darkGray);
    border-radius: 5px;
    margin: 5px 0px;
}
.item{
    padding: 5px 15px;
    background-color: var(--black);
    display: flex;
    list-style: none;
    justify-content: space-between;
}
.name{
    color: var(--orange);
    max-width: 320px;
}
strong{
    color: var(--white);
}
.price{
    color: var(--yellow);
}
.water > .name{
    color: var(--blue);
}
footer {
    color: var(--white);
    background-color: var(--darkGray);
    padding: 7px;
    position: fixed;
    bottom: 0;
    font-size: 10px;
    width: 100%;
    text-align: center;
}
footer>a {
    color: var(--yellow);
}